body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0b2457;
    color: white;
    padding: 1rem;
    text-align: center;
}
header img{
    width: 100px;
    height: 100px;
    
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(46, 43, 226);
}
button:hover{
    background-color: rgb(46, 33, 226);
}
.container {
    margin: 20px;
}
.section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.section img {
    max-width: 100%;
    height: auto;
}
.servicios{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}
.servicios:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ), url("media/fondo.jpg");
}
.servicios:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(media/impresion3d.jpg);
}
.servicios:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(media/logo2.jpg);
}
h3{
    color: turquoise;
    text-align: center;
    
}
p{
    color: rgb(255, 255, 255);
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

footer {
    background-color: #0044cc;
    color: white;
    text-align: right;
    padding: 1px;
    position: flex;
    width: 100%;
    bottom: 0;
    
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
}

form input, form textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #0044cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #003399;
}